html {
  min-height: 1000px;
}
body {
  
	font-family: Courier New ;
}

.optionMenu {
  text-align: center;
	margin-top: 20px;
	font-family: Courier New ;
}

#boardContainer {
  text-align: center;
	margin: auto;
	width: 50%;
	height: 800px;
	width: 800px;
}

#board {
	border: 3px solid grey;
  margin: auto;
  background:black;
}

#pauseBtn {
	visibility: hidden;
}

h1 {
  text-align: center;
}




