html {

}
body {
	font-family: Courier New ;
}

.optionMenu {
	margin-top: 5px;
	font-family: Courier New ;
}

#boardContainer {
	background: black;
	margin: auto;
	width: 50%;
	height: 800px;
	width: 800px;
}

#board {
	border: 3px solid grey;
}

canvas {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -47.2%);
  	transform: translate(-50%, -47.2%);
}



